<!doctype html>
<title>ANPR Car Park System</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <a href="{{ url_for('index') }}">Upload</a>
    <a href="{{ url_for('history') }}">History</a>
    {% if session.logged_in %}
      <a href="{{ url_for('logout') }}" style="margin-left:auto">Logout</a>
    {% endif %}
</nav>
{% with messages = get_flashed_messages() %}
  {% for m in messages %}<p class="flash">{{ m }}</p>{% endfor %}
{% endwith %}
<div class="card">
  {% block content %}{% endblock %}
</div>